{
    "plugins": ["jest"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "extends": ["plugin:jest/recommended", "eslint:recommended", "prettier"],
    "env": {
        "node": true,
        "jest": true
    },
    "globals": {
        "request": true
    }
}