{
    "plugins": ["jest"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "extends": ["plugin:jest/recommended", "eslint:recommended", "google"],
    "rules": {
        "require-jsdoc":"off",
        "max-len":"off"
    },
    "env": {
        "node": true,
        "jest": true
    },
    "globals": {
        "request": true
    }
}